.question-show-container {
    padding: 24px;
    width: 100%;
    .question-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .question-show-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 15px;

            .title {
                font-size: 27px;
                line-height: 35.1px;
            }
            .btn-ask {
                color: white;
                padding: 10.4px;
                background-color: rgb(10, 149, 255);
                box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px 0px inset;
            }
        }
        .asker {
            font-size: 13px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 5px;
            margin-top: -5px;
            margin-bottom: 10px;
        }
        .stats {
            display: flex;
            justify-content: flex-start;
            gap: 3px;
            font-size: 13px;
            margin-bottom: 16px;
            padding-bottom: 8px;
            border-bottom: 1px solid rgb(227, 230, 232);
            width: 100%;
            li {
                color: rgb(106, 115, 124);
                margin-bottom: 8px;
                span {
                    color: rgb(35, 38, 41);
                }
            }
        }
        .question-vote-container {
            display: flex;
            gap: 20px;
            width: 100%;
            .vote {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 0px;
                color: rgb(106, 115, 124);
                button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font-size: 30px;
                    outline: inherit;
                    cursor: pointer;
                    .vote-icon {
                        path {
                            fill: rgb(186, 191, 196);
                            color: rgb(106, 115, 124);
                        }
                    }
                }
                .downvote {
                    margin-top: 8px;
                }
                p {
                    font-size: 21px;
                    color: inherit;
                }
                .voted {
                    .vote-icon {
                        path {
                            fill: rgb(244, 130, 37);
                        }
                    }
                }
            }
            .question {
                display: flex;
                flex-direction: column;
                width: 100%;
                .body {
                    white-space: pre-wrap;
                    font-size: 15px;
                    line-height: 22.5px;
                }

                .tags-container {
                    margin-top: 24px;
                    margin-bottom: 24px;
                    .tags {
                        display: flex;
                        justify-content: flex-start;

                        li {
                            align-self: center;
                            margin-right: 2px;
                            padding: 4.8px 6px;
                            font-size: 12px;
                            color: rgb(57, 115, 157);
                            background-color: rgb(225, 236, 244);
                            border-radius: 3px;
                        }
                    }
                }
                .more-info {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .share {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 6px;
                        font-size: 13px;
                        li,
                        a {
                            color: rgb(106, 115, 124);
                            cursor: pointer;
                            &:hover {
                                color:black;
                            }
                        }
                    }
                    .share-modal {
                        position: absolute;
                        padding: 12px;
                        top: 20px;
                        background-color: white;
                        border-radius: 5px;
                        z-index: 5;
                        border: 1px solid rgb(214, 217, 220);
                        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px,
                            rgba(0, 0, 0, 0.06);
                        div {
                            display: flex;
                            justify-content: space-between;
                            p {
                                color: rgb(12, 13, 14);
                                font-weight: 600;
                                font-size: 13px;
                                padding-left: 3px;
                                margin-bottom: 10px;
                            }
                            p:last-child {
                                cursor: pointer;
                            }
                        }
                        input {
                            width: 300px;
                            background-color: white;
                        }
                    }
                    .exact-date {
                        font-size:13px;
                        padding: 10px;
                        border-radius: 3px;
                        background-color: rgb(247, 171, 109);
                        :first-child {
                            color: #2f3236;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
    .bottom-border {
        margin-top: 30px;
        width: 100%;
        border-bottom: 1px solid rgb(227, 230, 232);
    }
    .answer-count {
        font-size: 19px;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    .answer-vote-container {
        display: flex;
        gap: 20px;
        width: 100%;
        .vote {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 0px;
            padding-top: 20px;
            color: rgb(106, 115, 124);
            button {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font-size: 30px;
                outline: inherit;
                cursor: pointer;
                .vote-icon {
                    path {
                        fill: rgb(186, 191, 196);
                        color: rgb(106, 115, 124);
                    }
                }
            }
            .downvote {
                margin-top: 8px;
            }
            p {
                font-size: 21px;
                color: inherit;
            }
            .voted {
                .vote-icon {
                    path {
                        fill: rgb(244, 130, 37);
                    }
                }
            }
        }
        .answer-container {
            margin-top: 20px;
            width: 100%;
            .body {
                white-space: pre-wrap;
                font-size: 15px;
                line-height: 22.5px;
            }
            .more-info {
                margin-top: 20px;
                position: relative;
                .share {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 6px;
                    font-size: 13px;
                    li,
                    a {
                        color: rgb(106, 115, 124);
                        cursor: pointer;
                    }
                    .share-modal {
                        position: absolute;
                        padding: 12px;
                        top: 20px;
                        background-color: white;
                        border-radius: 5px;
                        z-index: 5;
                        border: 1px solid rgb(214, 217, 220);
                        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px,
                            rgba(0, 0, 0, 0.06);
                        div {
                            display: flex;
                            justify-content: space-between;
                            p {
                                color: rgb(12, 13, 14);
                                font-weight: 600;
                                font-size: 13px;
                                padding-left: 3px;
                                margin-bottom: 10px;
                            }
                            p:last-child {
                                cursor: pointer;
                            }
                        }
                        input {
                            width: 300px;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
    .answer-form-container {
        width: 100%;

        h2 {
            padding-top: 20px;
            margin-bottom: 19px;
            font-size: 19px;
        }

        textarea {
            width: 100%;
        }
        .btn-answer {
            margin-top: 26px;
            margin-bottom: 15px;
        }
    }
}

.asker-highlight {
    color: rgb(0, 116, 204);
    &:hover {
        color: rgb(10, 149, 255);
    }
}
