// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .form {

  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-weight: 600;
  font-size: var(1.15384615rem);
  
  .login-form-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: var(--bs-xl);
    border-radius: var(--br-lg);

    .login-form {

      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      .auth_item {
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        label {
          padding: 5px 4px;
          margin: 2px;
        }
        .login-input {
          font-size: 13px;
          padding: 0.6em 0.7em;
          border-radius: var(--br-sm);
          border: 1px solid var(--input-border-gray);
        }
      }
      
      .btn-submit {
        text-transform: capitalize;
        background-color: var(--btn-signup-bg-blue);
        color: var(--white);
        display: inline-block;
        padding: 0.7em;
        width: 100%;
        &:hover {
            background-color: var(--btn-signup-bg-blue-fill);
        }
      }
      .btn-demo {
        text-transform: capitalize;
        background-color: rgb(94, 196, 191);
        color: var(--white);
        margin-top: 10px;
        display: inline-block;
        padding: 0.7em;
        width: 100%;
        &:hover {
            background-color: lightseagreen;
        }
      }

    }
  }
}

.login-form-box {
  padding: 20px;
}

.session-submit {
  text-transform: capitalize;
}
