:root {
    --nav-color: hsl(210,8%,97.5%);
    --orange: hsl(27,90%,50%);
    --blue: hsl(205,41%,63%);
    --white: #fff;
    --blue-050: #f0f8ff;
    --btn-txt-blue: hsl(205,47%,42%);
    --btn-bg-blue: hsl(205,46%,92%);
    --btn-bg-blue-fill: hsl(205,57%,81%);
    --btn-signup-bg-blue: hsl(206,100%,52%);
    --btn-signup-bg-blue-fill:hsl(206,100%,40%);

    --input-border-gray: hsl(210,8%,75%);
}