footer {
    background-color: rgb(35, 38, 41);
    font-size: 13px;
    .footer-container {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        padding: 32px 12px 32px 12px;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .main-label {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 24px;
            color: rgb(186, 191, 196);
            line-height: 17px;
            cursor: pointer;
        }
        li{
            margin-top: 10px;
            color: rgb(131, 140, 149);
        }
        li:hover {
            color: rgb(159, 166, 173)
        }
        .footer-left {
            display:flex;

            .footer-icon {
                margin: -12px 24px 32px 0px;
            }
        }
        .footer-right {
            margin-right: 50px;
        }
    }
}